<div>
  <div *ngIf="tooltipInfo && tooltipInfo['show']"
       [ngStyle]="{left: getTooltipPosition().x, top: getTooltipPosition().y}">
    <span style="text-decoration: underline; text-align: center">Card is Visible to: </span>
    <ng-container *ngIf="tooltipInfo['visibleTo'].length > 0; else noVisible">
      <ul style="padding: 0; list-style: none; margin: 0">
        <li style="padding: 0; list-style: none; margin: 0"  *ngFor="let name of tooltipInfo['visibleTo']">
        {{name}}
        </li>
      </ul>
    </ng-container>
    <ng-template #noVisible>no one.</ng-template>
  </div>

  <div *ngIf="showCardOptions"
       [ngStyle]="{left: getTooltipPosition().x, top: getTooltipPosition().y}">
    <span style="text-decoration: underline; text-align: center">Please select option:</span>
    <!--<span>{{tooltipInfo['position'].x}}</span>-->
    <!--<span>{{tooltipInfo['position'].y}}</span>-->
    <ul style="padding: 0; list-style: none; margin: 0">
    <li class="card-options-item" >
      <a (click)="visibleToSelf()">Visible Only To me</a>
    </li>
    <li class="card-options-item">
      <a (click)="visibleToAll()">Visible To Everyone</a>
    </li>
    <li class="card-options-item">
      <a  (click)="hideToAll()">Hide From Everyone</a>
    </li>
    <li class="card-options-item">
      <a (click)="shuffle()">Shuffle Deck</a>
    </li>
    </ul>
  </div>

  <div #container>
    <div id="stage" style="margin-top: 8px">
    </div>
  </div>
</div>
