<nav class="navbar navbar-inverse custom-height">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">GamePortal</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/center']"> Groups </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="(user|async)?.uid" ><a href="#">Hello, {{userName}}</a></li>
        <li *ngIf="!(user|async)?.uid" ><a routerLink="/login"> <span class="glyphicon glyphicon-log-in"></span> Login or Sign Up</a></li>
        <li *ngIf="(user|async)?.uid"><a href="#" (click)="logout()"> <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


