<nav class="navbar navbar-inverse custom-height">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">GamePortal</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/chat']"> Chat </a></li>
        <li><a [routerLink]="['/users']"> Online Users </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="(user|async)?.uid" ><a href="#">Hello, {{userName}}</a></li>
        <li *ngIf="!(user|async)?.uid" ><a routerLink="/login"> <span class="glyphicon glyphicon-log-in"></span> Login or Sign Up</a></li>
        <li *ngIf="(user|async)?.uid"><a href="#" (click)="logout()"> <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Bootstrap nav bar example-->
<!--<nav class="navbar navbar-inverse">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a class="navbar-brand" routerLink="/">GamePortal</a>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li class="active"><a [routerLink]="['/chat']"> Chat </a></li>-->
      <!--<li><a [routerLink]="['/users']"> Online Users </a></li>-->

      <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">Page 1-1</a></li>-->
          <!--<li><a href="#">Page 1-2</a></li>-->
          <!--<li><a href="#">Page 1-3</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li><a href="#">Page 2</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav navbar-nav navbar-right">-->
      <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>&ndash;&gt;-->
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login or Sign Up</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->


