.chatHeaderWrapper {
  height: 63px;
  color: #222;
  box-shadow: 0 2px 3px rgba(0,0,0,0.37), 1px 2px 3px rgba(0,0,0,0.54);
  z-index: 2;
}

.chatRoom {
  height: 100%;
  display: flex;
  flex-direction: column;
}

router-outlet {
  height:0;
}

input#message {
  background:#fff;
  border:none;
  outline:none;
  box-shadow:none;
  font-size:1.6em;
  font-weight:300;
  margin-bottom: 3em;
  padding:1.2em .7em;
}

#details-container {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  width:100%;
}

#details-container p {
  background:#fff;
  padding:1.4em;
  color:#696969;
  margin: 12px;
  width:auto;
  min-width:200px;
}

img {
  display:block;
  margin-bottom:12px;
}
