.tab-content {
  margin:0 auto;
}

app-game-selector {
  position: relative;
  width: 100%;
  height: 100%;
  float: right;
  text-align: center;
}

.mainContent{
  width: 100%;
  height: 100vh;
  background: white;
}

.listWrapper {
  /*background-color: #2A2845;*/
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 1;
  order: 1;
  text-align: center;
  overflow-y: scroll;
  height: 100vh;
}

app-chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
