<!--wrapper component for spec-loader(game); chat-room; game-selector-->

<div *ngIf="(user | async)?.uid" class="mainContent">
  <mat-grid-list cols="23" rowHeight="fit" style="height: 100%">
    <mat-grid-tile [colspan]="5">
      <mat-tab-group style="height: 100%">
        <mat-tab *ngIf="groupParticipants && groupParticipants.length > 0" label="{{groupName}} ({{groupParticipants.length}})">
          <app-chat-room>
          </app-chat-room>
        </mat-tab>
        <mat-tab label="Participants">
          <div>
            <mat-list>
              <mat-list-item *ngFor="let participant of groupParticipants" style="margin-left: 30px">
                <app-user-item
                  [user]=participant ><br>
                </app-user-item>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="12">
      <div *ngIf="getSpec()&& getMatchRef()">
        <app-spec-loader [spec]="getSpec()" [matchRef]="getMatchRef()"></app-spec-loader>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="6">
      <app-game-selector>
      </app-game-selector>
    </mat-grid-tile>

  </mat-grid-list>
</div>

