.mainContent{
    display: flex;
}

.userListWrapper {
    background-color: #2A2845;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    order: 1;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
}

.feedWrapper {
    background-color: #fff;

    background:
        linear-gradient(181deg, rgba(220, 220, 220, 0.9), rgba(100,200,255,0.6));
        /*url('../../assets/img/chat-bg-1.png') center center no-repeat;*/
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: scroll;
    padding:20px 0px 0px 24px;
    /*margin-top: 40px;*/
}

.chatFormWrapper {
    display: flex;
    height: 50px;
    background-color: #eee;
    z-index: 3;
}

#scroller::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}

/*Style for menu bar for group chat*/
/*ul {*/
  /*list-style-type: none;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*overflow: hidden;*/
  /*background-color: #333;*/
  /*height: 45px;*/
  /*width: 100%;*/
/*}*/

/*li {*/
  /*float: left;*/
/*}*/

/*li a, .dropbtn {*/
  /*display: inline-block;*/
  /*color: white;*/
  /*text-align: center;*/
  /*padding: 14px 16px;*/
  /*text-decoration: none;*/
/*}*/

/*li a:hover, .dropdown:hover .dropbtn {*/
  /*background-color: red;*/
/*}*/

/*li.dropdown {*/
  /*display: inline-block;*/
/*}*/

/*.dropdown-content {*/
  /*display: none;*/
  /*position: absolute;*/
  /*background-color: #f9f9f9;*/
  /*min-width: 160px;*/
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  /*z-index: 1;*/
/*}*/

/*.dropdown-content a {*/
  /*color: black;*/
  /*padding: 12px 16px;*/
  /*text-decoration: none;*/
  /*display: block;*/
  /*text-align: left;*/
/*}*/

/*.dropdown-content a:hover {background-color: #f1f1f1}*/

/*.dropdown:hover .dropdown-content {*/
  /*display: block;*/
/*}*/

/*.right {*/
  /*align-self: right;*/
/*}*/

