<div class="mainContent">
  <div *ngIf="(user | async)?.uid">
    <app-user-list [isChat] = true></app-user-list>
  </div>
  <!--TODO: menu bar for group info-->
  <!--<ul>-->
    <!--<li>{{groupName}}</li>-->
    <!--<li class="dropdown">-->
      <!--<a href="javascript:void(0)" class="dropbtn right">Group Participants</a>-->
      <!--<div class="dropdown-content" *ngFor="let participant of participants">-->
        <!--<a href="#">{{participant.participantIndex}}</a>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
  <div #scroller class="feedWrapper">
    <div *ngIf="(groupId | async)">
      <app-chat-feed [groupId]="groupId"></app-chat-feed>
    </div>
  </div>
</div>

<div class="chatFormWrapper">
  <app-chat-form *ngIf="(groupId | async)"></app-chat-form>
</div>
