/*.mainContent{*/
    /*display: flex;*/
/*}*/

.mainContent{
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.feedWrapper {
  /*background-color: #fff;*/

  /*background:*/
      /*linear-gradient(181deg, rgba(220, 220, 220, 0.9), rgba(100,200,255,0.6));*/
      /*url('../../assets/img/chat-bg-1.png') center center no-repeat;*/
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 5;
  order: 2;
  overflow: scroll;
  overflow-x: hidden;
  padding:8px 0px 0px 8px;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.chatFormWrapper {
  width: 21.5%;
  /*display: flex;*/
  /*flex-direction: row;*/
  height: 40px;
  /*z-index: 3;*/
  position: fixed;
  /*left: 0;*/
  /*right: 0;*/
  bottom: 0px;
  padding-left: 25px;
}

app-chat-form{
  width: 100%;
  display: flex;
  white-space: nowrap;
  overflow: unset;
}

/*#scroller::-webkit-scrollbar-track*/
/*{*/
	/*border-radius: 10px;*/
	/*background-color: #F5F5F5;*/
/*}*/

