<div class="container">
  <div class="loginCard">
    <span class="email-login-header">Please log in or sign up using email</span>
    <span *ngIf="errMessage.length > 0" class="error">{{errMessage}}</span>
    <input
      [(ngModel)]="email"
      type="email"
      name="email"
      class="formInput" />

    <input type="password"
           [(ngModel)]="password"
           name="password"
           class="formInput" />

    <button class="btn"
            id="btn-login"
            (click)="signIn()">
      Log In
    </button>
    <button class="btn"
            id="btn-signUp"
            (click)="signUp()">
      Sign Up
    </button>
  </div>
</div>

