<h1 *ngIf="this.afAuth.authState | async">Welcome {{ (this.afAuth.authState | async)?.email }}!</h1>

<div *ngIf="!(this.afAuth.authState | async)">
  <span *ngIf="errMessage.length > 0" class="error">{{errMessage}}</span>
  <input type="text" [(ngModel)]="email" placeholder="email">


  <input type="password" [(ngModel)]="password" placeholder="password">


  <button (click)="signUp()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="signIn()" [disabled]="!email || !password">
    Login
  </button>
</div>
