
<div class="container">
  <!--<div id="scroller" class="loginCard">-->
  <div class="loginCard">
    <!--<div class="scrollbar" id= "style-1">-->
      <span class="login-index-header">Please specify login method or sign up with email</span><br>
      <button class="btn"
              id="btn-login-google"
              (click)="logInWithGoogle()">Login via Google</button>
      <button class="btn"
              id="btn-login-phone"
              (click)="logInWithPhone()" >Login via Phone</button>
      <button class="btn"
              id="btn-login-anony"
              (click)="logInAnonymous()" >Login Anonymously</button>
      <button class="btn"
              id="btn-login-email"
              (click)="logInWithEmail()">Login or Sign Up via Email</button>
  </div>
</div>
