.listWrapper {
  /*background-color: #2A2845;*/
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 1;
  order: 1;
  text-align: center;
  overflow-y: scroll;
  height: 100vh;
}
