<div #scroller class="userListWrapper" [ngClass]="{'isChat': !isChat}">

  <!--<a data-toggle="collapse" href="#groupItemWrapper">Groups</a>-->
  <!--<div id="groupItemWrapper" class="panel-collapse collapse">-->
    <!--<app-group-item-->
      <!--[group]=group *ngFor="let group of groups"><br>-->
    <!--</app-group-item>-->
  <!--</div>-->

  <br>

  <a data-toggle="collapse" href="#userItemWrapper">Recently connected users</a>
  <div id="userItemWrapper" class="panel-collapse collapse">
    <app-user-item
      [user]=user *ngFor="let user of onlineUsers"><br>
    </app-user-item>
    <app-user-item
      [user]=user *ngFor="let user of offlineUsers"><br>
    </app-user-item>
  </div>

</div>
