.messageContainer{
  display: flex;
  height: auto;
  width: 70%;
  min-width: 200px;
  border-radius: 5px;
  align-items: stretch;
  background-color: #eee;
  box-shadow: 0 3px 6px rgba(68, 68, 68, 0.52), 0 3px 6px rgba(86, 86, 86, 0.56);
}

.isOwnMessageContainer{
  background-color: #01579B;
  position: relative;
  right: 0px;
}

.messageData{
  flex: 1;
  padding: 5px;
  font-size: 0.6em;
}

.sender{
  display: block;
  color: #222;
  font-weight: bold;
}

.isOwnSender{
  color: #E1F5FE;
}

.timestamp {
  color: #222;
  font-style: italic;
  font-size: 0.6em;
}

.messageContent{
  height: auto;
  flex: 9;
  background-color: #fff;
  padding: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.9em;
}

.isOwnMessageContent{
  background-color: #E3F2FD;
  color: #01579B;
}
