/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

li{ list-style: none; }
/** {*/
  /*height: 100%;*/
  /*box-sizing: border-box;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0;*/
/*}*/

body {
  width: 100%;
  min-height:100%;
  background: #eee;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

app-navbar{
  width: 100%;
}

/*.message {*/
  /*display: block;*/
  /*height: auto;*/
/*}*/

/*button {*/
  /*background:#008FEF;*/
  /*color:white;*/
  /*padding: 1.2em;*/
  /*width:300px;*/
  /*text-align:center;*/
  /*font-size:1.2em;*/
  /*margin-bottom: 30px;*/
  /*cursor:pointer;*/
/*}*/
